<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS}] [%.7thread] [%-5level] [%X{LOG_KEY}] %logger{50}\(%M:%line\) : %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="jdbc.sqlonly" level="INFO" />
	<logger name="jdbc.sqltiming" level="OFF" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.resultsettable" level="INFO" />
	<logger name="jdbc.connection" level="OFF" ></logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
